

body, html{
  width:100%;
}
body{
  margin: 0;
}

.apricot{
  background-color: #f7882F;
}
.blueberry{
  background-color: #687ABF;
}
.citrus{
  background-color: #F7C331;
}
.white{
  background-color: white;
}
.apple_core_text{
  color: #DCC7AA;
}
.white_text{
  color: white;
}
header{
  width: 100%;
  border-bottom: solid 1px;
  padding: 1em 0;
  margin-bottom: 0;
  position: fixed;
  background-color: white;
}
.navbar{
  width: 90em;
  margin: auto;
}
.logo{

}
.navigation{
  float: right;
}
.content{
  margin-top: 0;
  padding-top: 3em;
  width: 100%;
}
.banner{
  margin-top: 0;
  padding-top: 1em;
  background-image: linear-gradient(to bottom right, #f7882F, #F7C331);
  width: 100em;
  height: 40em;
  margin: auto;
}
.banner_content{
  width: 90em;
  margin: auto;
}
.title{
  font-size: 4em;
  margin-bottom: 0;
}
.subtext{
  margin-top: 0;
  padding-top: 1em;
  border-top: solid 0.5em;
  width: 20em;
}
.info_title{
  font-size: 2.5em;
  margin-bottom: 0;
}
.info_subtext{
  margin-top: 0;
  padding-top: 1em;
  border-top: solid 0.3em;
  width: 20em;
}
.information{
  width: 90em;
  margin: auto;
  height: 25em;
  position: relative;
  z-index: 2;
  top: -20em;
}
.information_content{
  width: 30%;
  height: 100%;
  padding-top: 1em;
  padding-left: 1em;
  float: right;
}
.information_photo{

}
.index_page_content{
    margin: auto;
    width: 95em;
    padding: 3em 5em;
}
.index_page_row{
    padding-top: 1em;
    width: 100%;
    display: block;
    height: 20em;
}
.index_page_title{
    display: inline-block;
    width: 30%;
    height: 20em;
    margin: 0;
}
.index_title{
    padding-left: 0.5em;
    padding-right: 1em;
    font-size: 4em;
}
.index_page_description{
    display: inline-block;
    box-sizing: border-box;
    border: solid red 0.2em;
    width: 69%;
    height: 20em;
    margin: 0;
    background-color: #FFFAF0;
}
.index_text{
    padding: 1em;
    font-size: 1.5em;
}
